*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  border-radius: 0;
}

body{
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #aaa;
}

#code-area{
  width: 100%;
  resize: vertical;
  height: 60%;
  max-height: 75%;
  min-height: 20%;
  background: #222;
  color: white;
  padding: 10px;
}

.utility_nav{
  width: 100%;
  height: 2.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 60px;
  background-color: #333;
  color: white;
  border-top: #aaa solid 1px;
  border-bottom: #aaa solid 1px;
}

.utility_nav > button {
  padding: 2px 8px;
  background-color: #555;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#Download{
  margin-left: auto;
}

.terminals{
  display: flex;
  width: 100%;
  height: 40%;
  min-height: 20%;
  flex: 1;
  gap:0.5px;
}

#terminal, #tape_output{
  height: 100%;
  background-color: black;
  color: white;
  overflow-y: auto;
  padding: 10px;
  resize: horizontal;
}

#terminal{
  width: 60%;
  min-width: 40%;
}
#tape_output{
  width: 40%;
  flex: 1;
  resize: none;
}

#code-area, #terminal, #tape_output{
  font-family: monospace;
  font-size: 1rem;
  border: none;
}

#code-area:focus, #terminal:focus, #tape_output:focus{
  outline: none;
}