*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100dvw;
  height: 100dvh;
}

#code-area{
  width: 100%;
  resize: vertical;
  height: 60%;
  background: #fff;
  padding: 10px;
}

.utility_nav{
  width: 100%;
  height: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0 60px;
  background-color: #333;
  color: white;
}

.utility_nav > button {
  padding: 2px 8px;
  background-color: #555;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#Download{
  margin-left: auto;
}

#terminal{
  width: 100%;
  height: 40%;
  flex: 1;
  background-color: black;
  color: white;
  overflow-y: auto;
  padding: 10px;
  resize: none;
}